@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
}

.sidebar {
  padding: 20px 0 10px 20px;
  background-color: #488A99;
  color: #f1f1f1;
}

.title {
  display: flex;
  font-size: 2rem;
  gap: 10px;
  margin: 15px 0 50px 0;
}

.nav {
  margin-bottom: 40px;
}

.nav-icons li {
  padding-bottom: 30px;
  font-size: 1.1rem;
  padding-left: 10px;
}

.nav-icons li span {
  margin-right: 10px;
}

.main-area {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 10px;
  height: 15%;
  display: grid;
  grid-template-rows: 30% auto;
  padding: 20px 30px 0 25px;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.top-area {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.bar {
  height: 30px;
  width: 50vh;
  background-color: #DADADA;
  border-radius: 50px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin: 0 20px;
  font-size: 1.1rem;
}

.fa-bell {
  font-size: 1.5rem;
}

.avatar {
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.merlin {
  background-image: url(./wizard.png);
}

.user-name {
  font-weight: 700;
}

.bottom-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-welcome {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.user-welcome-avatar {
  width: 70px;
  height: 70px;
}

.user-welcome-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  gap: 10px;
}

.welcome-text-body {
  font-weight: 600;
  font-size: 1.2rem;
}

.dash-options {
  display: flex;
}

.btn {
  border-radius: 50px;
  border: none;
  background-color: #488A99;
  padding: 10px 25px;
  margin-right: 40px;
  color: #f1f1f1;
  font-weight: 600;
  font-size: 1rem;
}

.main {
  display: grid;
  grid-template-columns: auto 250px;
  height: 100%;
  background: #DADADA;
  padding: 0 30px 0 25px;
}

.projects {
  height: 90%;
  margin: 40px 0;
}
.aside {
  margin: 40px 0;
  height: 90%;
}

.main-headers {
  font-size: 1.2rem;
  font-weight: 500;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.project-card {
  height: 95%;
  max-height: 300px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-left: 10px solid  #AC3E31;
  border-radius: 10px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
    align-items: flex-end;
}

.p-card-text {
  padding: 0 40px 0 40px;
  line-height: 1.5rem;
}

.p-card-text-header {
  font-weight: 600;
  font-size: 1.3rem;
}

.card-text-body {
  color: grey;
  font-size: 1.1rem;
}

.p-card-icons ul {
  padding: 0 40px 0 40px;
  display: flex;
  gap: 30px;
  font-size: 1.4rem;
}

.line-clamp {
  width: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
}

.announce-card,
.trending-card {
  background-color: #f1f1f1;
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.card-item {
  padding: 20px 0;
  line-height: 1.2rem;
}



.trending-card .card-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.announce-card .card-item:nth-child(2) {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.item-header {
  font-weight: 600;
}

.item-text {
  color: grey;
  font-size: 0.9rem;
}

.trending {
  margin-top: 40px;
  height: 350px;
}

.trending-card {
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
}

.t-card-item {
  padding: 10px 0;
  line-height: 1.2rem;
  display: flex;
  gap 15px
}

.arthur {
  background-image: url(./king.png);
  border-radius: 50%;
}

.lancelot {
  background-image: url(./knight\(1\).png);
  border-radius: 50%;
}

.alucan {
  background-image: url(./knight.png);
  border-radius: 50%;
}

.yvain {
  background-image: url(./knight\(2\).png);
  border-radius: 50%;
}



@media (min-width: 1400px) {
  .container {
    grid-template-columns: 250px auto;
  }
  .main {
    grid-template-columns: auto 350px;
  }
  .project-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .project-card {
    height: 95%;
    width: 90%;
  }
}

@media (min-heigh: 1100px) {
  .project-card {
    height: 95%;
    width: 90%;
  }
}